/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: calc(100% - 76px);
}

#map.no-controls, #infobar.no-controls {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff !important;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

#heatmap-loading-mask {
  display: none;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 40%);
  position: absolute;
  z-index: 900;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#heatmap-loading-mask.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#infobar {
  margin: 0;
  padding: 0 15px 0 15px;
  width: 288px;
  background-color: #f1f1f1;
  position: fixed;
  height: calc(100% - 76px);
  z-index: 100;
  -webkit-box-shadow: 5px 0 10px -5px rgba(0, 0, 0, 0.2), 8px 0 20px -10px rgba(0, 0, 0, 0.20);
  box-shadow: 5px 0 10px -5px rgba(0, 0, 0, 0.2), 8px 0 20px -10px rgba(0, 0, 0, 0.20);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}

#hover_sample_value_and_time {
  height: 25px;
}

#infobar-back-arrow-container {
  cursor: pointer;
  width: 150px;
  margin-top: 10px;
}

#back-arrow-text {
  position: absolute;
  margin-left: 32px;
  margin-top: -25px;
}

#back-arrow {
  background-image: url(../img/back-arrow.png);
  background-size: 30px 30px;
  left: 12px;
  width: 30px;
  height: 30px;
  top: 25px;
  opacity: 0.7;
}

#infobar-back-arrow-container:hover #back-arrow {
  opacity: 1;
}

#infobar-content {
  height: calc(100% - 16px);
  background-color: inherit;
}

#infobar.altmode #infobar-content, #infobar.altmode #infobar-content #infobar-header {
  height: 0px;
}

#infobar.altmode #infobar-content > div:not(.side-controls-container):not(#infobar-close-toggle-container) {
  display: none !important;
}

#infobar.altmode {
  width: calc(50% - 105px);
  min-width: 370px;
  max-width: 855px;
}

#infobar-tools {
  display: none;
  height: 100%;
}

#infobar-tools-wrapper, #timeseries-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 180px);
  padding-right: 10px;
}

#infobar.no-controls #infobar-tools-wrapper {
  height: calc(100vh - 115px);
}

#infobar-tools #timeseries {
  display: none;
  height: auto;
  /*height: 100%;*/
  /* todo */
}


#infobar-tools #heatmap {
  display: none;
  height: auto;
}

#heatmap p.description {
  font-size: 13px;
}

.zoomGrapherBtn {
  background: rgb(150,150,150) !important;
  border-radius: 0px !important;
  outline: none;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 11px !important;
  height: 19px;
  width: 36px;
  left: 3px;
  top: -2px;
}

.zoomGrapherBtn:hover {
  background: rgb(100,100,100) !important;
}

.ui-button .ui-icon.ui-icon-custom-plus-white {
  background: url(../img/plus_white.png);
  left: 18px;
  top: 11px;
  width: 12px;
  height: 12px;
  background-size: contain !important;
  opacity: 1;
}

.ui-button.ui-state-hover .ui-icon.ui-icon-custom-plus-white {
  opacity: 1;
}

#heatmap-date-picker a {
  text-decoration: none;
  color: #4fa0d9 !important;
}

#heatmap-date-picker input[type=text] {
  padding: 12px 0px;
  text-indent: 40px;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#heatmap-date-picker input[type=number] {
  padding: 5px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
}

#heatmap-date-picker select {
  padding: 4px 0px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-indent: 1px;
}

#heatmap-date-picker {
  font-size: 14px;
  max-width: 552px;
  border-collapse: separate;
  border-spacing: 0 15px;
  background: rgb(240, 240, 240);
}


#heatmap-date-picker label {
  white-space: nowrap;
  display: inline-block;
  margin: 0 0.3em 0.3em 0;
  cursor: pointer;
  font-size: .9em;
  background: #fff;
  border-radius: 0.3em;
  border: 1px solid #ededed;
  width: 42px;
  padding: 0px 15px 2px 3px;
}

#heatmap-date-picker label:has(input:disabled) {
  cursor: not-allowed;
}

#hour label {
  padding-right: 27px;
  margin-right: 3px;
}

#hour-row {
  display: none;
}

#heatmap-date-picker .input-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}


#heatmap-date-picker .input-block i{
  position: absolute;
  left: 15px;
  top: 14px;
  color: gray;
}

#heatmap-date-picker #datetimepicker-start, #heatmap-date-picker #datetimepicker-end {
  width: 180px;
  font-size: 13px;
}

#heatmap-date-picker #month, #heatmap-date-picker #dayofweek {
  padding-top: 5px;
}

#heatmap-gui-datepicker-entry-container #result {
  font-size: 13px;
}

#heatmap-manual-date-entry-container {
  display: none;
  padding-left: 15px;
  padding-right: 15px;
}

#heatmap-manual-date-entry-container p.description{
  font-size: 12px;
}

#heatmap-gui-datepicker-entry-container p.description {
  font-size: 12px;
  padding-right: 5px;
}

#heatmap-gui-datepicker-entry-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.ui-button .ui-icon.ui-icon-custom-minus-white {
  background-image: url(../img/minus_white.png);
  left: 18px;
  top: 11px;
  width: 12px;
  height: 12px;
  background-size: contain !important;
  opacity: 1;
}

.ui-button.ui-state-hover .ui-icon.ui-icon-custom-minus-white {
  opacity: 1;
}

#infobar-initial {
  height: calc(100% - 50px);
  overflow-y: auto;
  font-size: 0.96em;
}

#infobar-header {
  background-image: url("../img/logo-cropped.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 46px;
  margin-top: 16px;
  margin-bottom: 2px;
  image-rendering: -webkit-optimize-contrast;
}

#infobar-location-header {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  display: none;
}

#infobar-close-handle {
  display: none;
}

#infobar-component-container {
  height: calc(100% - 124px);
  overflow-y: auto;
  display: none;
}

.infobar-component {
  height: 25%;
  min-height: 180px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.infobar-component-header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid black;
}

.infobar-text {
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
  font-size: 15px;
}

.infobar-data-intro {
  text-align: center;
  font-style: normal;
  margin-top: 7px;
}

.infobar-data {
  font-weight: bold;
  font-size: 1.7em;
  text-align: center;
  font-style: normal;
}

.infobar-unit {
  text-align: center;
  font-style: normal;
}

.infobar-time {
  text-align: center;
  font-style: normal;
  color: gray;
}

.infobar-table {
  font-size: 12px;
  text-align: center;
  width: -webkit-fill-available;
}

.infobar-table td {
  font-size: 14px;
}

#infobar-plume-section.detailed {
  margin-bottom: 70px !important;
}

.more-info {
  background-image: url('../img/info-icon.png');
  background-size: contain;
  width: 20px;
  height: 20px;
  image-rendering: -webkit-optimize-contrast;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.more-info-legend {
  background-image: url('../img/info-icon.png');
  background-size: contain;
  width: 14px;
  height: 14px;
  image-rendering: -webkit-optimize-contrast;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  margin-left: 2px;
  margin-top: 1px;
}

.more-info-grapher, .more-info-heatmap {
  position: absolute;
  right: 44px;
  margin-top: -22px;
}

.chart-btn {
  background-image: url(../img/chart.png);
  background-size: contain;
  width: 20px;
  height: 20px;
  image-rendering: -webkit-optimize-contrast;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  border: 1px solid #707070;
  border-radius: 4px;
  padding: 2px;
  background-origin: content-box;
  background-repeat: no-repeat;
  margin-top: -5px;
  background-color: #f7f7f7;
  opacity: 0.85;
}

.chart-btn:hover {
  opacity: 1;
}

.chart-btn.disabled, #heatmap-btn.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.disabled-cursor {
  cursor: not-allowed;
}

.alert {
  padding: 15px;
  background-color: #f44336;
  color: white;
  display: none;
  font-size: 14px;
  margin-bottom: 10px;
}

#legend {
  display: none;
  position: fixed;
  z-index: 10;
  right: 10px;
  top: 10px;
  bottom: unset;
}

.legend-row-units {
  font-size: 10px;
}

#legend .legend-scale {
  height: auto !important;
}

.custom-legend {
  margin: 0px;
}

.plume-expand-icon {
  background-image: url('../img/more-black.png');
  background-size: contain;
  width: 30px;
  height: 30px;
  image-rendering: -webkit-optimize-contrast;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  opacity: 0.88;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.plume-expand-icon:hover {
  opacity: 1;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

#legend-table td {
  font-size: 11px;
  margin: 0;
}

#legend-table .smell-color-td {
  color: black;
  min-width: 13px;
  max-width: 13px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
}

#legend-table .trax-span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  float: left;
}

#legend-table .opacity-75 {
  opacity: 75%;
}

#legend-table .opacity-50 {
  opacity: 50%;
}

#legend-table .opacity-25 {
  opacity: 25%;
}

#legend-table .wind-arrow-td {
  color: black;
  background-repeat: no-repeat;
  background-size: 34px 18px;
  height: 18px;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

#legend-table .facilities-td {
  color: black;
  background-repeat: no-repeat;
  background-size: 21px 28px;
  height: 28px;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-transform: scale(0.65);
  -ms-transform: scale(0.65);
  transform: scale(0.65);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  padding: 0px;
}

.backtrace-color-map {
  border: 1px dashed black;
  padding: 10px;
  background-size: 95% 15px;
  background-repeat: no-repeat;
  background-image: url('../img/backtrace-color-map.png');
  background-position: center;
}

.backtrace-text2 {
  padding-left: 5px;
}

#legend-table .entry-title {
  text-align: left;
}

#legend-table .entry-title.two-rows {
  line-height: 7px;
}

#trax-legend-row .entry-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.legend-label {
  color: gray;
  font-size: 9px;
}

#current-date-legend {
  font-size: 12px !important;
  font-weight: bold;
}

.PM25-color-1 {
  background-image: url("../img/PM25_1_legend.png");
}

.PM25-color-2 {
  background-image: url("../img/PM25_2_legend.png");
}

.PM25-color-3 {
  background-image: url("../img/PM25_3_legend.png");
}

.PM25-color-4 {
  background-image: url("../img/PM25_4_legend.png");
}

.PM25-color-5 {
  background-image: url("../img/PM25_5_legend.png");
}

.PM25-color-1b {
  background-image: url("../img/square_1.png");
}

.PM25-color-2b {
  background-image: url("../img/square_2.png");
}

.PM25-color-3b {
  background-image: url("../img/square_3.png");
}

.PM25-color-4b {
  background-image: url("../img/square_4.png");
}

.PM25-color-5b {
  background-image: url("../img/square_5.png");
}

.PM25-color-1c {
  background-image: url("../img/diamond_1.png");
}

.PM25-color-2c {
  background-image: url("../img/diamond_2.png");
}

.PM25-color-3c {
  background-image: url("../img/diamond_3.png");
}

.PM25-color-4c {
  background-image: url("../img/diamond_4.png");
}

.PM25-color-5c {
  background-image: url("../img/diamond_5.png");
}

.trax-color-1 {
  background-color: #00e400;
}

.trax-color-2 {
  background-color: #ffff00;
}

.trax-color-3 {
  background-color: #ff7e00;
}

.trax-color-4 {
  background-color: #ff0000;
}

.trax-color-5 {
  background-color: #99004c;
}

.trax-color-6 {
  background-color: #7e0023;
}

.smell-color-1 {
  background-image: url("../img/smell_1.png");
}

.smell-color-2 {
  background-image: url("../img/smell_2.png");
}

.smell-color-3 {
  background-image: url("../img/smell_3.png");
}

.smell-color-4 {
  background-image: url("../img/smell_4.png");
}

.smell-color-5 {
  background-image: url("../img/smell_5.png");
}

.wind-arrow {
  background-image: url("../img/wind_arrow2.png");
}

.facilities {
  background-image: url("../img/facility-icon-magenta.png");
}

.mobile-only-error {
  display: none;
}

.infobar-close-toggle-icon {
  background: url(../img/left-arrow-black.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -2px;
  top: 4px;
  opacity: 0.685;
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#infobar-close-toggle-container:hover .infobar-close-toggle-icon{
  opacity: 1.0;
}

#infobar.closed .infobar-close-toggle-icon {
  background: url(../img/right-arrow-black.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-background-size: contain;
}

#infobar-close-toggle-container {
  width: 24px;
  height: 38px;
  background: #f1f1f1;
  position: absolute;
  right: -26px;
  top: 20px;
  z-index: 1002;
  border-radius: 0px 4px 4px 0px;
  -webkit-appearance: none;
  -webkit-box-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
  box-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
  border: 1px solid #d3d3d3;
  cursor: pointer;
}

#infobar.closed {
  -webkit-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
      transform: translateX(-100%);
}

#explanationstep-container {
  float: right;
  margin-top: 10px;
}

#explanation-content-container {
  overflow-y: auto;
  max-height: 265px;
}

#explanationstep-back {
  text-decoration: none;
  color: #009cff;
  font-weight: bold;
  outline: none;
}

#explanationstep-forward {
  text-decoration: none;
  color: #009cff;
  font-weight: bold;
  outline: none;
}

#dont-show-again, label[for=dont-show-again] {
  cursor: pointer;
}

#explanationstep-back.disabled, #explanationstep-forward.disabled {
  cursor: default;
  color: #8d8d8d;
}

#explanation-2 {
  display: none;
}

#footprint-first-click-dialog {
  overflow: hidden;
}

.timeline-container {
  width: calc(100% - 70px);
  position: absolute;
  left: 57px;
  right: 0;
  top: auto;
  bottom: 0;
  height: 75px;
  width: auto;
  overflow-x: scroll;
  background-color: #fff;
  border-top: 1px solid #6e6e6e;
  scrollbar-color: #adadad #f1f1f1;
  scrollbar-width: auto;
}

.timeline-heatmap .timeline-heatmap-label td {
  color: black;
}

.waiting {
  cursor: wait !important;
}

#calendar-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  padding: 0px !important;
}

#calendar-btn.playbackTimelineOn {
  background-color: #e2c5cb;
}

#calendar-btn.playbackTimelineOn::before {
  content: "";
  background-image: url(../img/close-dark.png);
  background-repeat: no-repeat;
  background-size: 7px 7px;
  background-position: right 5px top 5px;
  opacity: 1;
  position: absolute;
  width: 56px;
  height: 75px;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

#calendar-btn.custom-button-flat {
  border-radius: 0;
  border-top: 1px solid #6e6e6e;
  border-right: 1px solid #6e6e6e;
  border-left: 0;
  border-bottom: 0;
  width: 57px;
  height: 76px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: 45px 50px;
  background-position: center;
  opacity: 0.85;
}

#calendar-btn:hover {
  opacity: 1;
}

#calendar-dialog {
  display: none;
}

#checkbox-container {
  font-size: 11px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calendar-specific-day {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  word-break: break-word;
  width: 34px;
  margin-top: 11px;
  z-index: 900;
  line-height: 15px;
}

.calendar-default-icon::after {
  content: "";
  width: 70px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px 52px;
  background-image: url('../img/calendar-default2.png');
  opacity: 0.85;
}

.calendar-default-icon:disabled::after {
  opacity: 0.3;
}

.calendar-default-icon:hover::after {
  opacity: 1;
}

.calendar-specific-day-icon::after {
  content: "";
  width: 40px;
  height: 47px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 47px;
  background-image: url('../img/calendar-day-template-transparent2.png');
  opacity: 1;
}

.timeline-container::-webkit-scrollbar, #infobar-component-container::-webkit-scrollbar, .materialTimeline::-webkit-scrollbar {
  -webkit-appearance: none;
  background: transparent;
  overflow: visible;
  width: 13px;
}

.timeline-container::-webkit-scrollbar:horizontal, .materialTimeline::-webkit-scrollbar:horizontal {
  border-width: 6px 4px;
  height: 13px;
}

.timeline-container::-webkit-scrollbar-track-piece, #infobar-component-container::-webkit-scrollbar-track-piece, .materialTimeline::-webkit-scrollbar-track-piece {
  background-color: #f1f1f1;
}

.timeline-container::-webkit-scrollbar-corner, #infobar-component-container::-webkit-scrollbar-corner, .materialTimeline::-webkit-scrollbar-corner {
  background: transparent;
}

.timeline-container::-webkit-scrollbar-thumb, #infobar-component-container::-webkit-scrollbar-thumb, .materialTimeline::-webkit-scrollbar-thumb {
  background-color: #ADADAD;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

.timeline-container::-webkit-scrollbar-thumb:hover, #infobar-component-container::-webkit-scrollbar-thumb:hover, .materialTimeline::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

#playback-timeline-container .materialTimelineContainerMain {
  -webkit-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

#playback-timeline-container .materialTimelineContainerMain.tour {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

#controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

#controls.playbackTimelineOff .materialTimelineContainerMain {
  left: 0px;
  width: 57px;
  overflow: hidden;
}

.force-no-visibility {
  visibility: hidden;
}

.force-hidden {
  display: none !important;
}

.custom-dialog-flat {
  width: 350px !important;
}

#map div:focus {
  outline: none;
  border: none;
}

#infobar-wind {
  padding-bottom: 5px;
}

#timeline-handle {
  position: absolute;
  bottom: 75px;
  height: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  background-color: white;
  color: black;
  border: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-top: 1px solid #777777;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
  z-index: 9;
  padding-left: 5px;
  padding-right: 5px;
}

#timeline-handle:before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 10;
}

#timeline-handle:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#timeline-handle span {
  font-size: 12px;
  white-space: nowrap;
}

.side-controls-container {
  position: absolute;
  right: 0px;
  top: 20px;
  width: auto;
  float: left;
  height: auto;
  right: -155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
}

.side-controls-container-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.side-controls-container > div, .side-controls-container > button {
  margin-right: 10px;
}

#get-screenshot-description {
  font-size: 10px;
  font-style: italic;
}

#get-screenshot {
  cursor: pointer;
  width: 100%;
  height: 35px;
  font-size: 14px;
  background-color: #787878;
  color: white;
  border: 1px solid #3c3c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.75
}

#get-screenshot:hover {
  opacity: 1;
}

.heatmap-modal-button-container {
  margin-top: 10px;
}

#heatmap-btn {
  border-radius: 10px;
  margin-top: auto;
  border: none;
  cursor: pointer;
  background: #d7d7d7;
  font-size: 12px;
  width: 200px;
  margin-left: calc(100% - 234px);
  padding: 4px;
}

#heatmap-btn:hover {
  background: #e1e1e1;
}

#get-heatmap {
  margin-top: 5px;
  cursor: pointer;
  width: 100%;
  height: 35px;
  font-size: 14px;
  background-color: #787878;
  color: white;
  border: 1px solid #3c3c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.75
}

#get-heatmap:hover {
  opacity: 1;
}

#get-heatmap.button-loading {
  pointer-events: none;
}

#get-heatmap.button-loading .button-text {
  display: none;
}

#heatmap-dates-wrapper {
  display: flex;
  align-items: start;
  flex-flow: column;
}

#heatmap-dates {
  resize: none;
  font-size: 13px;
  width: 242px;
}

#heatmap-dates p.description {
  font-size: 10px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #007bff;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1.5s linear infinite;
}

.button-loading::after {
  content: "";
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  -webkit-animation: spin 1s ease infinite;
          animation: spin 1s ease infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }

  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }

  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.button-tooltip {
  z-index: 100001;
  position: absolute;
  line-height: 18px;
  background-color: #272727;
  border: 1px solid #3a3a3a;
  opacity: 1;
  border-radius: 2px;
  overflow: visible;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: none;
}

.button-tooltip p {
  max-width: 174px;
  margin-top: 0px;
  margin-bottom: -11px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 9px;
  padding-bottom: 19px;
  padding-left: 20px;
  padding-right: 14px;

  font: 13px "Helvetica Neue", Sans-Serif;
  color: white;
}

.button-tooltip p::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url('../img/bubble_edge_horizontal.png');
  background-position: 50% 100%;
}

.button-tooltip.left p::before {
  left: 9%;
}

.button-tooltip.right p::before {
  right: 9%;
}

.button-tooltip.bottom p::before {
  bottom: -12px;
}

.button-tooltip.top p::before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  top: -12px;
}

.always-selectable {
  -webkit-user-select: auto;
  -moz-user-select: text;
  -ms-user-select: element;
  -o-user-select: auto;
  user-select: text;
}

.customDialog {
  background-color: #f1f1f1;
  min-width: 250px !important;
}

div.pac-container {
  z-index: 99999999999 !important;
}

.reachOutModal div, .backtraceSettingsModal div, .methodologyModal div {
  font-size: 13px;
}

.backtraceSettingsModal td {
  padding-right: 30px;
  padding-bottom: 5px;
}

.backtraceSettingsModal .switch {
  font-size: 11px;
  width: 40px;
  top: -1px;
}

.reachOutModal div a, .methodologyModal div a  {
  color: #007de1;
}

.tosModal .content {
  overflow-y: auto;
  font-size: 14px;
  text-align: justify;
  padding: 10px;
}

.tosModal .content a {
  color: #2196f3;
}

.tosModal .footer {
  padding-top: 20px;
}

.tosModal .footer label, .tosModal .footer input[type=checkbox] {
  cursor: pointer;
}

.shareViewModal.ui-dialog-content, .reachOutModal.ui-dialog-content, .methodologyModal.ui-dialog-content {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  padding-bottom: 20px;
}

.shareViewModal .share-link-container-content, .shareViewModal .embed-link-container {
  font-size: 13px;
  border: 1px solid #e0e0e0;
  background-color: #e0e0e0;
  border-radius: 8px;
  color: #1e88e5;
  width: 255px !important;
  padding: 8px;
}

.shareViewModal .shareurl, .shareViewModal .shareembed {
  width: 230px !important;
  height: 16px !important;
  overflow: hidden;
  margin: 0px !important;
  word-break: break-all;
}

.shareViewModal .close-modal, .cityPickerModal .close-modal, .searchModal .close-modal, .reachOutModal .close-modal, .backtraceSettingsModal  .close-modal, .methodologyModal .close-modal, .exportHeatMapModal .close-modal {
  background: url('../img/close.png') center center no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: default;
  opacity: 0.67;
  position: absolute;
  right: 12px;
  top: 10px;
  cursor: pointer;
}

.searchModal .close-modal {
  right: 12px;
}

.shareViewModal .close-modal:hover, .cityPickerModal .close-modal:hover, .searchModal .close-modal:hover, .reachOutModal .close-modal:hover, .backtraceSettingsModal .close-modal:hover, .methodologyModal .close-modal:hover, .exportHeatMapModal .close-modal:hover {
  opacity: 0.9;
}

.shareViewModal .close-modal:after, .cityPickerModal .close-modal:after, .searchModal .close-modal:after, .reachOutModal .close-modal:after, .backtraceSettingsModal .close-modal:after, .methodologyModal .close-modal:after, .exportHeatMapModal .close-modal:after {
  content:'';
  position: absolute;
  top: -12px;
  bottom: -12px;
  left: -12px;
  right: -12px;
}

.shareViewModal .copy-text-button {
  background: url('../img/copy.png') center center no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: default;
  opacity: 0.67;
  position: absolute;
  right: 22px;
  margin-top: -18px;
  cursor: pointer;
}

.shareViewModal .copy-text-button:hover {
  opacity: 0.9;
}

.shareViewModal .copy-text-button:after {
  content:'';
  position: absolute;
  top: -12px;
  bottom: -12px;
  left: -12px;
  right: -12px;
}

.shareViewModal #share-link-container-main p.heading, .shareViewModal #embed-link-container-main p.heading, .searchModal p.heading, .reachOutModal p.heading, .backtraceSettingsModal p.heading, .methodologyModal p.heading {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.cityMapMarker {
  color: #00aaff;
  background-color: rgba(255, 255, 255, 0.85);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  padding: 4px;
  border: 1px solid #999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.facilityMarker {
  color: #515151;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.mobileSelect-container .mobileSelect-filter {
  position: relative;
  font-size: 18px;
  margin-right: 10px;
  border: 1px solid #4a4a4a;
  border-radius: 6px;
  padding-left: 28px;
  height: 30px;
  width: 200px;
}

.mobileSelect-container .no-result {
  padding: 20px;
}

input[type="search"]::-webkit-search-decoration:hover,
input[type="search"]::-webkit-search-cancel-button:hover {
    cursor:pointer;
}

.mobileSelect-container .search-wrap{
  position: relative;
  float: right;
  top: 15px;
}

.mobileSelect-container .search-wrap i.fa{
  position: absolute;
  left: 7px;
  top: 7px;
  z-index: 100;
  opacity: 0.5;
  font-size: 16px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 17px;
  top: -5px;
}

.switch2 {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 17px;
  top: 2px;
  left: 10px;
  font-size: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.input-state-text {
  color: white;
  position: absolute;
  z-index: 9000;
  margin-top: 1px;
}

input:checked + .slider .input-state-text {
  margin-left: 4px;
}

input:checked + .slider .input-state-text:after {
  content: 'On';
}

input + .slider .input-state-text {
  margin-left: 18px;
}

input + .slider .input-state-text:after {
  content: 'Off';
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.introjs-skipbutton {
  padding: 0px !important;
}

.tour-overlay-region {
  z-index: 100;
  position: absolute;
  width: 30px;
  height: 30px
}

.searchBoxContainer {
  z-index: 99;
  height: 40px;
  width: 38px;
}

.searchBox {
  z-index: 136;
  width: 0px;
  height: 38px;
  padding: 0px;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: none;
  border: 1px solid #d3d3d3;
  padding-left: 38px;
  padding-right: 0px;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.searchBoxIcon:hover {
  opacity: 1.0;
}

.searchBoxIcon {
  background: url(../img/search-black.png) center center no-repeat;
  background-size: contain;
  width: 26px;
  height: 26px;
  position: absolute;
  right: 19px;
  top: 9px;
  cursor: default;
  opacity: 0.7;
  cursor: pointer;
}

.searchBoxIcon:after {
  content: '';
  position: absolute;
  top: -11px;
  bottom: -7px;
  left: -7px;
  right: -11px;
}

.searchBoxClearIcon {
  background: url(../img/close.png) center center no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 298px;
  top: 8px;
  cursor: pointer;
  opacity: 0.60;
  display: none;
}

.searchBoxClearIcon:after {
  content: '';
  position: absolute;
  top: -10px;
  bottom: -8px;
  left: -10px;
  right: -5px;
}

.searchBoxClearIcon:hover {
  opacity: 0.9;
}

.search-button {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: -40px;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  outline: none;
  border: 1px solid #d3d3d3;
}

/* Hack to position google map/satellite controls to be on same level with zoom controls at
   the bottom right. The real answer is to use custom controls, but it is baffling that
   you can't stack more than one element in the corner with the builtin positioning scheme.
*/
div.gmnoprint[role='menubar'] {
  right: 60px !important;
  bottom: 14px !important;
}

.date_axis {
  height: 42px;
  width: 400px;
  z-index: 2;
  border: 1px solid black;
  border-bottom-width: 0;
}

.plot_container {
  position: relative;
  width: 400px;
  height: 300px;
  border: 1px solid black;
}

.plot_container > canvas:focus {
  outline: none;
}

.y_axis {
  position: relative;
  width: 42px;
  height: 300px;
  border: 1px solid black;
  border-left-width: 0;
}

.y_axis_label {
  position: absolute;
  text-align: center;
  font-size: 8pt;
  height: auto;
  font-weight: bold;
}

.rotate_90 {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.color_box {
  position: absolute;
  left: 0;
  width: 100%;
}

#grapher_container {
  margin-top: 20px;
  height: auto;
  height: calc(100% - 127px);
  /* todo */
  overflow-y: auto;
  overflow-x: hidden;
}

 #grapher_legend {
  overflow-y: auto;
  max-height: calc(100% - 356px);
  margin-top: -15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.remove_graph_plot {
  background-image: url(../img/close-dark.png);
  background-size: contain;
  width: 12px;
  height: 12px;
  image-rendering: -webkit-optimize-contrast;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-origin: content-box;
  background-repeat: no-repeat;
  opacity: 0.85;
  position: relative;
  margin-left: 25px;
  margin-top: -6px
}

.remove_graph_plot:hover {
  opacity: 1;
}

#hrrr-wd, #kriged-wd {
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  #mobile-menu .wrapper{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: #878787;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    z-index: 100;
    -webkit-tap-highlight-color: transparent;
  }
  #active:checked ~ #mobile-menu .wrapper{
    right: 0;
  }
  .mobile-menu-toggle.menu-btn{
    position: absolute;
    z-index: 200;
    top: 0px;
    right: 0px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .mobile-menu-toggle.menu-btn span,
  .mobile-menu-toggle.menu-btn:before,
  .mobile-menu-toggle.menu-btn:after{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #000;
    -webkit-transition: -webkit-transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: -webkit-transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .mobile-menu-toggle.menu-btn:before{
    -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
            transform: translateY(-8px);
  }

  .mobile-menu-toggle.menu-btn:after{
    -webkit-transform: translateY(8px);
        -ms-transform: translateY(8px);
            transform: translateY(8px);
  }

  .mobile-menu-toggle.close {
    z-index: 50;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-transition: background .6s;
    -o-transition: background .6s;
    transition: background .6s;
  }

  #active:checked + .mobile-menu-toggle.menu-btn span {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
  }

  #active:checked + .mobile-menu-toggle.menu-btn:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-color: #fff;
  }

  #active:checked + .mobile-menu-toggle.menu-btn:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-color: #fff;
  }

  #mobile-menu .wrapper ul{
    position: absolute;
    top: 20px;
    left: 0px;
    height: 100%;
    list-style: none;
    width: 100%;
    margin-left: 0px;
    padding-left: 30px;
    margin-top: 10px;
  }

  #mobile-menu .wrapper ul li{
    height: 10%;
    margin: 15px 0;
    padding-left: 10px;
  }

  #mobile-menu .wrapper ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    padding-left: 0px;
    margin-left: 14px;
  }

  #mobile-menu .wrapper ul li span {
    opacity: 0;
  }

  #mobile-menu .wrapper ul li a:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    z-index: -1;
  }

  #mobile-menu .wrapper ul li a:hover:after{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }

  #mobile-menu .wrapper ul li a:hover{
    color: #fff;
  }

  input.mobile-menu-toggle[type="checkbox"]{
    display: none;
  }

  #active:checked ~ #mobile-menu .wrapper ul li a, #active:checked ~ #mobile-menu .wrapper ul li span{
    opacity: 1;
  }

  .mobile-city-picker-icon {
    width: 35px;
    height: 65px;
    z-index: 9000;
    float: left;
    background: url('../img/city-picker-icon.png');
    -webkit-filter: invert(1);
    filter: invert(1);
    margin-top: 6px;
  }

  .mobile-share-icon {
    width: 30px;
    height: 50px;
    z-index: 9000;
    float: left;
    background: url('../img/sharing-icon-black.png');
    -webkit-filter: invert(1);
    filter: invert(1);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    margin-top: 18px;
    margin-right: 5px;
  }

  .mobile-tour-icon {
    width: 35px;
    height: 50px;
    z-index: 9000;
    float: left;
    background: url('../img/tour.png');
    -webkit-filter: invert(1);
    filter: invert(1);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    margin-top: 19px;
    margin-left: 10px;
    margin-right: -9px;
  }

  .mobile-reach-out-icon {
    width: 35px;
    height: 50px;
    z-index: 9000;
    float: left;
    background: url('../img/reach-out.png');
    -webkit-filter: invert(1);
    filter: invert(1);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    margin-top: 19px;
    margin-left: 6px;
    margin-right: -5px;
  }

  .mobile-methodology-icon {
    width: 35px;
    height: 50px;
    z-index: 9000;
    float: left;
    background: url('../img/methodology-small.png');
    -webkit-filter: invert(1);
    filter: invert(1);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    margin-top: 19px;
    margin-left: 6px;
    margin-right: -5px;
  }

  .searchBoxIconMobile {
    background: url(../img/search-black.png) center center no-repeat;
    background-size: contain;
    width: 36px;
    height: 50px;
    cursor: default;
    opacity: 0.7;
    cursor: pointer;
    float: left;
    -webkit-filter: invert(1);
    filter: invert(1);
    margin-left: 4px;
    margin-top: 9px;
  }

  #search-mobile a {
    margin-top: 2px !important;
  }

  .searchBox {
    width: 233px;
    font-size: 13px !important;
    padding-right: 30px;
    padding-left: 8px;
  }

  .searchBoxContainer {
    width: 0px;
  }

  .searchBoxContainer {
    left: 12px !important;
  }

  .searchBoxClearIcon{
    top: 68px;
  }

  #embed-link-container-main {
    display: none;
  }


  #infobar-close-toggle-container {
    display: none;
  }

  .side-controls-container {
    display: none !important;
  }

  #infobar.no-controls {
    height: 240px;
  }

  #infobar-initial {
    margin-top: 0px;
    margin-bottom: 25px;
    height: 100%;
  }

  .mobileSelect-container .mobileSelect-filter {
    width: 115px !important;
    padding-left: 26px !important;
    font-size: 15px !important;
  }

  .mobileSelect-container .search-wrap i.fa{
    left: 7px !important;
    top: 9px !important;
    font-size: 14px !important;
  }

  .mobile-only-error {
    display: revert;
    padding-top: 10%;
    font-size: 14px;
  }

  #legend {
    display: none;
    bottom: 100px;
    top: unset;
  }

  #infobar {
    font-size: 14px;
    height: 240px;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    position: fixed;
    overflow: hidden;
    padding-bottom: 15px;
    -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2), 0 8px 20px -10px rgba(0, 0, 0, 0.19);
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2), 0 8px 20px -10px rgba(0, 0, 0, 0.19);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  #infobar-component-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #infobar.maximized {
    height: 50%;
  }

  #infobar-header {
    margin: 0px;
    height: 55px;
  }

  #infobar-location-header {
    margin-top: 6px;
  }

  #infobar-close-handle {
    background-color: #bbbbbb;
    border-radius: 5px;
    height: 5px;
    width: 40px;
    position: absolute;
    bottom: 8px;
    right: calc(50% - 20px);
    display: block;
  }

  #infobar-close-handle-container {
    display: block;
    position: absolute;
    bottom: 0px;
    height: 25px;
    width: calc(100% - 30px);
    background: inherit;
  }

  .infobar-component {
    float: left;
    width: 100%;
    height: auto;
    padding: 5px;
    border-top: none;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
  }

  #infobar-content {
    height: calc(100% - 55px);
  }

  #infobar-plume-section {
    border-left: none;
  }

  #infobar-pollution-section sub {
    line-height: 0px;
  }

  .display-unset {
    display: unset !important;
  }

  #infobar-wind-section {
    border-right: none;
  }

  .infobar-component-header {
    font-size: 16px;
    padding: 0 0 0 0;
  }

  .infobar-component-value {
    display: inline;
  }

  .infobar-text {
    display: none;
  }

  #infobar-plume .infobar-text {
    display: inline-block !important;
    text-align: center;
    font-size: inherit;
  }

  .infobar-data {
    padding-top: 3px;
    font-size: 1.2em;
  }

  .infobar-unit {
    font-size: 12px;
  }

  .infobar-time {
    font-size: 12px;
  }

  .chart-btn {
    display: none;
  }
}
