/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
#map {
  height: calc(100% - 76px);
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff !important;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

#infobar {
  margin: 0;
  padding: 0 15px 0 15px;
  width: 288px;
  background-color: #f1f1f1;
  position: fixed;
  height: calc(100% - 76px);
  /*overflow: hidden;*/
  z-index: 100;
  -webkit-box-shadow: 5px 0 10px -5px rgba(0, 0, 0, 0.2), 8px 0 20px -10px rgba(0, 0, 0, 0.20);
          box-shadow: 5px 0 10px -5px rgba(0, 0, 0, 0.2), 8px 0 20px -10px rgba(0, 0, 0, 0.20);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#infobar-initial {
  height: calc(100% - 85px);
  overflow-y: auto;
}

#infobar-header {
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  text-decoration: underline;
}

#infobar-location-header {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

#infobar h2 {
  padding: 5px;
  text-align: center;
}

#infobar-close {
  float:right;
  margin-top: 15px;
  cursor: pointer;
}

#infobar-close-handle {
  display: none;
}

#infobar-component-container {
  height: calc(100% - 102px);
  overflow-y: auto;
  display: none;
}

.infobar-component {
  display: block;
  height: 25%;
  min-height: 130px;
  padding: 10px;
}

.infobar-component-header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid black;
}

#infobar-error-icon {
  width: 30px;
  display: none;
  margin-left: calc(50% - 15px);
  margin-top: 10px;
  margin-bottom: 10px;
}

.infobar-text {
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
}

.infobar-data-intro {
  text-align: center;
  font-style: normal;
  margin-top: 7px;
}

.infobar-data {
  font-weight: bold;
  font-size: 1.7em;
  text-align: center;
  font-style: normal;
}

.infobar-unit {
  text-align: center;
  font-style: normal;
}

.infobar-time {
  text-align: center;
  font-style: normal;
  color: gray;
}

#legend {
  position: fixed;
  z-index: 10;
  right: 10px;
  top: 10px;
  bottom: unset;
}

.custom-legend {
  margin: 0px;
}

.legend-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: -8px;
}

#legend-circle-container {
  display: inline-block;
  margin-right: 10px;
}

#legend-smell-value td {
  font-size: 11px;
  margin: 0;
}

#legend-smell-value .smell-color-td {
  color: black;
  min-width: 13px;
  max-width: 13px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
}


#legend-smell-value .trax-td {
  border-radius: 50%;
  color: black;
  min-width: 5px;
  max-width: 5px;
  background-repeat: no-repeat;
  background-size: 5px 5px;
  background-position: center;
}

#legend-smell-value .trax-span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  float: left;
}

#legend-smell-value .opacity-75 {
  opacity: 75%;
}

#legend-smell-value .opacity-50 {
  opacity: 50%;
}

#legend-smell-value .opacity-25 {
  opacity: 25%;
}

#legend-smell-value .wind-arrow-td {
  color: black;
  background-repeat: no-repeat;
  background-size: 34px 18px;
  height: 18px;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.backtrace-color-map {
  border: 1px dashed black;
  padding: 10px;
  background-size: 95% 15px;
  background-repeat: no-repeat;
  background-image: url('../img/backtrace-color-map.png');
  background-position: center;
}

#legend-smell-value .entry-title {
  text-align: left;
}

.legend-label {
  color: gray;
  font-size: 9px;
}

.PM25-color-1 {
  background-image: url("../img/PM25_1_legend.png");
}

.PM25-color-2 {
  background-image: url("../img/PM25_2_legend.png");
}

.PM25-color-3 {
  background-image: url("../img/PM25_3_legend.png");
}

.PM25-color-4 {
  background-image: url("../img/PM25_4_legend.png");
}

.PM25-color-5 {
  background-image: url("../img/PM25_5_legend.png");
}

#purple-air-legend-row {
  display: none;
}

.PM25-color-1b {
  background-image: url("../img/square_1.png");
}

.PM25-color-2b {
  background-image: url("../img/square_2.png");
}

.PM25-color-3b {
  background-image: url("../img/square_3.png");
}

.PM25-color-4b {
  background-image: url("../img/square_4.png");
}

.PM25-color-5b {
  background-image: url("../img/square_5.png");
}

.trax-color-1 {
  background-color: #00e400;
}

.trax-color-2 {
  background-color: #ffff00;
}

.trax-color-3 {
  background-color: #ff7e00;
}

.trax-color-4 {
  background-color: #ff0000;
}

.trax-color-5 {
  background-color: #99004c;
}

.trax-color-6 {
  background-color: #7e0023;
}

.wind-arrow {
  background-image: url("../img/wind_arrow2.png");
}

.mobile-only-error {
  display: none;
}

.infobar-close-toggle-icon {
  background: url(../img/left-arrow-black.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -2px;
  top: 4px;
  opacity: 0.685;
  display: inline-block;
  transform: translateZ(0)
}

#infobar-close-toggle-container:hover .infobar-close-toggle-icon{
  opacity: 1.0;
}

#infobar.closed .infobar-close-toggle-icon {
  background: url(../img/right-arrow-black.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-background-size: contain;
}

#infobar-close-toggle-container {
  width: 24px;
  height: 38px;
  background: #f1f1f1;
  position: absolute;
  right: -26px;
  top: 20px;
  z-index: 1002;
  border-radius: 0px 4px 4px 0px;
  -webkit-appearance: none;
  -webkit-box-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
  box-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
  border: 1px solid #d3d3d3;
  cursor: pointer;
}

#infobar.closed {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  left: -318px;
}

#explanationstep-container {
  float: right;
  margin-top: 10px;
}

.explanation-content h4{
  margin-top: 0px;
}

#explanation-content-container {
  overflow-y: auto;
  max-height: 265px;
}

#explanationstep-back {
  text-decoration: none;
  color: #009cff;
  font-weight: bold;
  outline: none;
}

#explanationstep-forward {
  text-decoration: none;
  color: #009cff;
  font-weight: bold;
  outline: none;
}

#dont-show-again, label[for=dont-show-again] {
  cursor: pointer;
}

#explanationstep-back.disabled, #explanationstep-forward.disabled {
  cursor: default;
  color: #8d8d8d;
}

#footprint-first-click-dialog {
  overflow: hidden;
}

@media screen and (max-width: 450px) {

  #infobar-close-toggle-container {
    display: none;
  }

  .side-controls-container {
    display: none !important;
  }

  #infobar-initial {
    margin-top: 0px;
    margin-bottom: 25px;
    height: calc(100% - 65px);
  }

  .mobile-only-error {
    display: revert;
    padding-top: 10%;
    font-size: 14px;
  }

  #legend {
    bottom: 83px;
    top: unset;
  }

  #infobar {
    font-size: 14px;
    height: 250px;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    position: fixed;
    overflow: hidden;
    padding-bottom: 15px;
    -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2), 0 8px 20px -10px rgba(0, 0, 0, 0.19);
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2), 0 8px 20px -10px rgba(0, 0, 0, 0.19);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  #infobar-component-container {
    height: 100%;
    display: flex;
  }

  #infobar.maximized {
    height: 50%;
  }

  #infobar-header {
    font-size: 24px;
    margin-top: 7px;
    margin-bottom: 5px;
  }

  #infobar-location-header {
    margin-top: 5px
  }

  #infobar h2 {
    padding: 0;
    font-size: larger;
    margin-bottom: 0;
  }

  #infobar-close {
    display: none;
  }

  #infobar-close-handle {
    background-color: #bbbbbb;
    border-radius: 5px;
    height: 5px;
    width: 40px;
    position: absolute;
    bottom: 8px;
    right: calc(50% - 20px);
    display: block;
  }

  #infobar-close-handle-container {
    display: block;
    position: absolute;
    bottom: 0px;
    height: 25px;
    width: calc(100% - 30px);
    background: inherit;
  }

  #infobar-error-icon {
    width: 30px;
  }

  .infobar-component {
    float: left;
    width: 100%;
    height: auto;
    padding: 5px;
    border-top: none;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
  }

  #infobar-plume-section {
    border-left: none;
  }

  #infobar-pollution-section sub {
    line-height: 0px;
  }

  .display-unset {
    display: unset !important;
  }

  #infobar-wind-section {
    border-right: none;
  }

  .infobar-component-header {
    font-size: 16px;
    padding: 0 0 0 0;
  }

  .infobar-component-value {
    display: inline;
  }

  .infobar-text {
    display: none;
  }

  #infobar-plume .infobar-text {
    display: inline-block !important;
    text-align: center;
  }

  .infobar-data {
    padding-top: 3px;
    font-size: 1.2em;
  }

  .infobar-unit {
    font-size: 12px;
  }

  .infobar-time {
    font-size: 12px;
  }
}

.timeline-container {
  width: calc(100% - 70px);
  position: absolute;
  left: 57px;
  right: 0;
  top: auto;
  bottom: 0;
  height: 75px;
  width: auto;
  overflow-x: scroll;
  background-color: #fff;
  border-top: 1px solid #6e6e6e;
  scrollbar-color: #adadad #f1f1f1;
  scrollbar-width: auto;
}

.timeline-heatmap .timeline-heatmap-label td {
  color: black;
}


/*button:disabled,
button[disabled]{
  opacity: 0.2 !important;
}*/

.waiting {
  cursor: wait !important;
}

#calendar-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  padding: 0px !important;
}

#calendar-btn.playbackTimelineOn {
  background-color: #e2c5cb;
}

#calendar-btn.playbackTimelineOn::before {
  content: "";
  background-image: url(../img/close-dark.png);
  background-repeat: no-repeat;
  background-size: 7px 7px;
  background-position: right 5px top 5px;
  opacity: 1;
  position: absolute;
  width: 56px;
  height: 75px;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

#calendar-btn.custom-button-flat {
  border-radius: 0;
  border-top: 1px solid #6e6e6e;
  border-right: 1px solid #6e6e6e;
  border-left: 0;
  border-bottom: 0;
  width: 57px;
  height: 76px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: 45px 50px;
  background-position: center;
  opacity: 0.85;
}

#calendar-btn:hover {
  opacity: 1;
}

#calendar-btn.custom-button-flat img {
  width: 51px;
  height: 49px;
}

#calendar-dialog {
  display: none;
}

#checkbox-container {
  font-size: 11px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calendar-specific-day {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  word-break: break-word;
  width: 34px;
  margin-top: 11px;
  z-index: 900;
  line-height: 15px;
}

.calendar-default-icon::after {
  content: "";
  width: 70px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px 52px;
  background-image: url('../img/calendar-default2.png');
  opacity: 0.85;
}

.calendar-default-icon:disabled::after {
  opacity: 0.3;
}

.calendar-default-icon:hover::after {
  opacity: 1;
}

.calendar-specific-day-icon::after {
  content: "";
  width: 40px;
  height: 47px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 47px;
  background-image: url('../img/calendar-day-template-transparent2.png');
  opacity: 1;
}

.timeline-container::-webkit-scrollbar, #infobar-component-container::-webkit-scrollbar, .materialTimeline::-webkit-scrollbar {
  -webkit-appearance: none;
  background: transparent;
  overflow: visible;
  width: 13px;
}

.timeline-container::-webkit-scrollbar:horizontal, .materialTimeline::-webkit-scrollbar:horizontal {
  border-width: 6px 4px;
  height: 13px;
}

.timeline-container::-webkit-scrollbar-track-piece, #infobar-component-container::-webkit-scrollbar-track-piece, .materialTimeline::-webkit-scrollbar-track-piece {
  background-color: #f1f1f1;
}

.timeline-container::-webkit-scrollbar-corner, #infobar-component-container::-webkit-scrollbar-corner, .materialTimeline::-webkit-scrollbar-corner {
  background: transparent;
}

.timeline-container::-webkit-scrollbar-thumb, #infobar-component-container::-webkit-scrollbar-thumb, .materialTimeline::-webkit-scrollbar-thumb {
  background-color: #ADADAD;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

.timeline-container::-webkit-scrollbar-thumb:hover, #infobar-component-container::-webkit-scrollbar-thumb:hover, .materialTimeline::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

#playback-timeline-container .materialTimelineContainerMain {
  -webkit-transition: all 1.0s ease;
  -o-transition: all 1.0s ease;
  transition: all 1.0s ease;
}

#controls.playbackTimelineOff .materialTimelineContainerMain {
  left: 0px;
  width: 57px;
  overflow: hidden;
}

.force-no-visibility {
  visibility: hidden;
}

#map div:focus {
  outline: none;
  border: none;
}

#infobar-plume, #infobar-pollution, #infobar-wind {
  font-style: italic;
}

#timeline-handle {
  position: absolute;
  left: calc(50% - 32px);
  bottom: 75px;
  height: 20px;
  width: 62px;
  background-color: white;
  color: black;
  border: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-top: 1px solid #777777;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
  z-index: 9;
}

#timeline-handle:before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 10;
}

#timeline-handle:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#timeline-handle span {
  font-size: 12px;
  white-space: nowrap;
}

.side-controls-container {
  position: absolute;
  right: 0px;
  top: 20px;
  width: auto;
  float: left;
  height: 40px;
  right: -95px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.side-controls-container > div, .side-controls-container > button {
  margin-right: 10px;
}

#get-screenshot-description {
  font-size: 10px;
  font-style: italic;
}

#get-screenshot {
  cursor: pointer;
  width: 100%;
  height: 35px;
  font-size: 14px;
  background-color: #787878;
  color: white;
  border: 1px solid #3c3c3c;
  /* text-align: center; */
  /* vertical-align: middle; */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.75
}

#get-screenshot:hover {
  opacity: 1;
}

.thumbnail-copy-text-button-tooltip {
  z-index: 100001;
  position: absolute;
  line-height: 18px;
  background-color: #3a3a3a;
  border: 1px solid #3a3a3a;
  opacity: 1;
  border-radius: 2px;
  overflow: visible;
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: none;
}

.thumbnail-copy-text-button-tooltip p {
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: -11px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 9px;
  padding-bottom: 19px;
  padding-left: 14px;
  padding-right: 14px;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-image: url('../img/bubble_edge_horizontal.png');
  font: 13px "Helvetica Neue", Sans-Serif;
  color: white;
}

.always-selectable {
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: text;
  -ms-user-select: element;
  -o-user-select: auto;
  user-select: text;
}

.customDialog {
  background-color: #f1f1f1;
}

.shareViewModal.ui-dialog-content {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  padding-bottom: 20px;
}

.shareViewModal .share-link-container, .shareViewModal .embed-link-container {
  font-size: 13px;
  border: 1px solid #e0e0e0;
  background-color: #e0e0e0;
  border-radius: 8px;
  color: #1e88e5;
  width: 255px !important;
  padding: 8px;
}

.shareViewModal .shareurl, .shareViewModal .shareembed {
  width: 230px !important;
  height: 16px !important;
  overflow: hidden;
  margin: 0px !important;
  word-break: break-all;
}

.shareViewModal .close-share {
  background: url('../img/close.png') center center no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: default;
  opacity: 0.67;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.shareViewModal .close-share:hover {
  opacity: 0.9;
}

.shareViewModal .close-share:after {
  content:'';
  position: absolute;
  top: -12px;
  bottom: -12px;
  left: -12px;
  right: -12px;
}

.shareViewModal .copy-text-button {
  background: url('../img/copy.png') center center no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: default;
  opacity: 0.67;
  position: absolute;
  right: 22px;
  margin-top: -18px;
  cursor: pointer;
}

.shareViewModal .copy-text-button:hover {
  opacity: 0.9;
}

.shareViewModal .copy-text-button:after {
  content:'';
  position: absolute;
  top: -12px;
  bottom: -12px;
  left: -12px;
  right: -12px;
}

.shareViewModal #share-link-container-main p.heading {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.shareViewModal #embed-link-container-main p.heading {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
}
