/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: calc(100% - 76px);
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff !important;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

#infobar {
  margin: 0;
  padding: 0 15px 0 15px;
  width: 320px;
  background-color: #f1f1f1;
  position: fixed;
  height: calc(100% - 76px);
  overflow: auto;
  z-index: 1;
  visibility: hidden;
  box-shadow: 5px 0 10px -5px rgba(0, 0, 0, 0.2), 8px 0 20px -10px rgba(0, 0, 0, 0.19);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#infobar h1 {
  font-size: 28px;
  text-align: center;
}

#infobar h2 {
  padding: 5px;
  text-align: center;
}

#infobar-close {
  float:right;
  margin-top: 15px;
  cursor: pointer;
}

#infobar-close-handle {
  display: none;
}

.infobar-component {
  display: block;
  height: 25%;
  padding: 10px;
  border-top: solid #bbbbbb;
}

.infobar-component-header {
  font-size: large;
  font-weight: bold;
  padding: 10px 0 10px 0;
}

#infobar-error-icon {
  width: 30px;
  display: none;
  margin-left: calc(50% - 15px);
  margin-top: 10px;
  margin-bottom: 10px;
}

#legend {
  position: fixed;
  z-index: 10;
  right: 10px;
  top: 10px;
  bottom: unset;
}

.legend-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: -8px;
}

#legend-circle-container {
  display: inline-block;
  margin-right: 10px;
}

#legend-smell-value td {
  font-size: 10px;
  margin: 0;
}

#legend-smell-value .smell-color-td {
  color: black;
  min-width: 13px;
  max-width: 13px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
}


#legend-smell-value .trax-td {
  border-radius: 50%;
  color: black;
  min-width: 5px;
  max-width: 5px;
  background-repeat: no-repeat;
  background-size: 5px 5px;
  background-position: center;
}

#legend-smell-value .trax-span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  float: left;
}

#legend-smell-value .opacity-75 {
  opacity: 75%;
}

#legend-smell-value .opacity-50 {
  opacity: 50%;
}

#legend-smell-value .opacity-25 {
  opacity: 25%;
}

#legend-smell-value .wind-arrow-td {
  color: black;
  background-repeat: no-repeat;
  background-size: 40px 15px;
}

.backtrace-color-map {
  background-size: 100% 15px;
  background-repeat: no-repeat;
  background-image: url('../img/backtrace-color-map.png');
}

#legend-smell-value .entry-title {
  text-align: left;
}

.PM25-color-1 {
  background-image: url("../img/PM25_1_legend.png");
}

.PM25-color-2 {
  background-image: url("../img/PM25_2_legend.png");
}

.PM25-color-3 {
  background-image: url("../img/PM25_3_legend.png");
}

.PM25-color-4 {
  background-image: url("../img/PM25_4_legend.png");
}

.PM25-color-5 {
  background-image: url("../img/PM25_5_legend.png");
}

.trax-color-1 {
  background-color: #00e400;
}

.trax-color-2 {
  background-color: #ffff00;
}

.trax-color-3 {
  background-color: #ff7e00;
}

.trax-color-4 {
  background-color: #ff0000;
}

.trax-color-5 {
  background-color: #99004c;
}

.trax-color-6 {
  background-color: #7e0023;
}

.wind-arrow {
  background-image: url("../img/wind_arrow.png");
}

@media screen and (max-width: 450px) {
  #legend {
    bottom: 80px;
    top: unset;
  }

  #infobar {
    height: auto;
    width: auto;
    position: fixed;
    overflow: hidden;
    padding-bottom: 15px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2), 0 8px 20px -10px rgba(0, 0, 0, 0.19);
  }

  #infobar.maximized {
    height: 50%;
  }

  #infobar h2 {
    padding: 0;
    font-size: larger;
    margin-bottom: 0;
  }

  /*#infobar-close {
    visibility: hidden;
  }*/

  #infobar-close-handle {
    background-color: #bbbbbb;
    border-radius: 5px;
    height: 5px;
    width: 40px;
    position: absolute;
    bottom: 8px;
    right: calc(50% - 20px);
    display: block;
  }

  #infobar-error-icon {
    width: 30px;
  }

  .infobar-component {
    float: left;
    width: 100%;
    height: auto;
    padding: 5px;
    border-top: none;
  }

  .infobar-component-header {
    font-size: medium;
    display: inline;
    padding: 0 0 0 0;
  }

  .infobar-component-value {
    display: inline;
  }
}

.timeline-container {
  width: calc(100% - 70px);
  position: absolute;
  left: 57px;
  right: 0;
  top: auto;
  bottom: 0;
  height: 75px;
  width: auto;
  overflow-x: scroll;
  background-color: #fff;
  border-top: 1px solid #6e6e6e;
  scrollbar-color: #adadad #f1f1f1;
  scrollbar-width: auto;
}

.timeline-heatmap .timeline-heatmap-label td {
  color: black;
}


/*button:disabled,
button[disabled]{
  opacity: 0.2 !important;
}*/

#calendar-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 900;
 image-rendering: -webkit-optimize-contrast;
 -ms-interpolation-mode: nearest-neighbor;
 padding: 0px !important;
}

#calendar-btn.playbackTimelineOn {
  background-color: #e2c5cb;
}

#calendar-btn.playbackTimelineOn::before {
  content: "";
  background-image: url(../img/close-dark.png);
  background-repeat: no-repeat;
  background-size: 7px 7px;
  background-position: right 5px top 5px;
  opacity: 1;
  position: absolute;
  width: 56px;
  height: 75px;
 image-rendering: crisp-edges;
 image-rendering: -moz-crisp-edges;
 image-rendering: -o-crisp-edges;
 image-rendering: -webkit-optimize-contrast;
 -ms-interpolation-mode: nearest-neighbor;
}

#calendar-btn.custom-button-flat {
  border-radius: 0;
  border-top: 1px solid #6e6e6e;
  border-right: 1px solid #6e6e6e;
  border-left: 0;
  border-bottom: 0;
  width: 57px;
  height: 76px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: 45px 50px;
  background-position: center;
  opacity: 0.85;
}

#calendar-btn:hover {
  opacity: 1;
}

#calendar-btn.custom-button-flat img {
  width: 51px;
  height: 49px;
}

#calendar-dialog {
  display: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calendar-specific-day {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  word-break: break-word;
  width: 34px;
  margin-top: 11px;
  z-index: 900;
  line-height: 15px;
}

.calendar-default-icon::after {
  content: "";
  width: 70px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px 52px;
  background-image: url('../img/calendar-default2.png');
  opacity: 0.85;
}

.calendar-default-icon:disabled::after {
  opacity: 0.3;
}

.calendar-default-icon:hover::after {
  opacity: 1;
}

.calendar-specific-day-icon::after {
  content: "";
  width: 40px;
  height: 47px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 47px;
  background-image: url('../img/calendar-day-template-transparent2.png');
  opacity: 1;
}

.timeline-container::-webkit-scrollbar {
  -webkit-appearance: none;
  background: transparent;
  overflow: visible;
  width: 14px;
}

.timeline-container::-webkit-scrollbar:horizontal {
  border-width: 6px 4px;
  min-height: 15px;
}

.timeline-container::-webkit-scrollbar-track-piece {
  background-color: #f1f1f1;
}

.timeline-container::-webkit-scrollbar-corner {
  background: transparent;
}

.timeline-container::-webkit-scrollbar-thumb {
  background-color: #ADADAD;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

.timeline-container::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

#playback-timeline-container .materialTimelineContainerMain {
  transition: all 1.0s ease;
}

#controls.playbackTimelineOff .materialTimelineContainerMain {
  left: 0px;
  width: 57px;
  overflow: hidden;
}

.force-no-visibility {
  visibility: hidden;
}

#map div:focus {
  outline: none;
  border: none;
}

#infobar-plume, #infobar-pollution, #infobar-wind {
  font-style: italic;
}
